 .container {
  background: beige;
  height: 100vh;

  /* 컨테이너 박스를 flex box로 만들기 */
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;

}

/* body, html {
  background: beige;
  height: 100%;
} */

/* 
  height: 100%
  flex-direction: 기준축을 정의
  row, row-reverse, column, column-reverse */